@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --background-color: #121212;
    --section-clolor: #212121;
    --button-color: #303030;
    --item-list: #424242;
    --buscador: #424242;
    --font-color: #e0e0e0;
    --font-secondary-color: #818181;
    --font-tertiary-color: #424242;
    /* --------fuente-------*/
    --fuente-text: "Lexend", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: var(--section-clolor);
    font-family: var(--fuente-text);
}

main, section {
    width: 950px;
    height: 100%;
    margin: auto;
    margin-top: 70px;
    border-radius: 20px;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 20px;
}

header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    border-radius: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3px 6px 0 6px;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 40px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--button-color);
        transition: background-color 0.3s ease;
        cursor: pointer;
        color: var(--background-color);
    }
}

#logo-main {
    position: absolute;
    top: 0 ;
    left: 30px;
    width: 70px;
}

main {
    width: 99%;
    height: 100%;
}

p, h1, h2, h3, ul {
    color: var(--font-color);
    padding-bottom: 10px;
}

b {color: var(--font-color);}

h1, h3 {
    text-align: center;

}

ul {
    padding-left: 30px;
}
a {
    color: var(--font-color);
}


h1 {
    margin: 0px;
}

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.main-image-container {
    justify-content: center;
    display:flex;
}

.main-image-container img {
    margin-top: -20px;
    scale: 1.0;
    transition-duration: 3s;
    
}

.main-image-container img:hover {
    scale: 1.1;
    transition-duration: 3s;
}


details {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--section-clolor);
    margin: auto;
    width: 1050px;
    margin-bottom: 20px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 7px 5px;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--font-color);
  }

  details p {
    color: var(--font-color);
  }
  
  summary::marker {
    content: "";
  }
