@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --background-color: #967171;
    --section-clolor: #4F2F2F;
    --button-color: #D98888;
    --item-list:#905959;
    --buscador:#905959;
    --font-color:#1f1414;
    --font-secondary-color: #c28f8f;
    --font-tertiary-color: #7a5a5a;
    /* --------fuente-------*/
    --fuente-text: "Lexend", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--fuente-text);
    color: var(--font-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    gap: 10px;
    margin: 10px;
    height: 97vh;
    width: 98.5vw;
  }

.item{
    border-radius: 15px;
}

.item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

.item:nth-child(2) {
    grid-area: 1 / 5 / 2 / 6;
    grid-column: 5 / 8;
    grid-row: 1 / 4;
}

.item:nth-child(3) {
    grid-area: 4 / 1 / 5 / 2;   
}

.item:nth-child(4) {
    grid-area: 4 / 2 / 5 / 3;
    grid-column: 2 / 8;
    grid-row: 0 / 0;
}

#account-info{
    background-color: var(--section-clolor);
}
#control-panel {
    background-color: var(--section-clolor);
}

#song-list {
   background-color: var(--section-clolor);
}

#song-info {
    background-color: var(--section-clolor);

}
#search{
    color: var(--font-secondary-color);
}
/* ----APARTADO DERECHA INFO DE LA CANCION------ */
#song-info #thumbnails-info-container {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin: 10% 10% 5% 10%;
    border: solid #905959 8px;
    background-color: var(--item-list);
}
#song-info img {
    border-radius: 18px !important;
}
#song-info #song-info-text {
    
    display: flex;
    flex-direction: column;
    margin: 0 10% 5% 10%;

    /*fuente styles*/
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-secondary-color);
}

#song-info #btn-show-lyrics {
    margin: 0 10% 5% 10%;
    width: 30%;
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    background-color: var(--button-color);
    border: none;

    /*fuente styles*/
    font-family: var(--fuente-text);
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color);
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--item-list);
    transition: ease-in.4s;
    justify-content: flex-start;
    gap: 10px;
}

.song:hover{
    background-color: var(--button-color);
    transition: ease-in.4s;
}

.song img{
   width: 100px;
   height: 100px;
   border-radius: 10px;
}

#song-list{
   overflow-y: scroll;
}

/* Estilo de la barra de desplazamiento */
#song-list::-webkit-scrollbar {
   width: 12px;
}

#song-list::-webkit-scrollbar-track {
   background: transparent;

}

#song-list::-webkit-scrollbar-thumb {
   background: var(--item-list);
   border-radius: 10px;
}

#song-list::-webkit-scrollbar-thumb:hover {
   background: var(--button-color);
}

#search input{
   padding: 15px 10px 15px 10px;
   height: 30px;
   width: 70%;
   border-radius: 15px;
   margin: 10px;
   background-color: var(--buscador);
   color: var(--font-color);
   border: none;
   font-family: var(--fuente-text);
}

#search input::placeholder {
   color: var(--font-color);
}

#song-info-text .song-info-title{
   font-size: 1.3rem;
}
#song-info-text .song-info-artist{
    font-size: 0.9rem;
 }

 #lyrics-container{
    width: 100%;
    height: 27vh;
    padding: 0 30px;
    overflow-y: scroll;
    clear: both;
    color: var(--font-secondary-color);
 }
 
 #lyrics{
    color: var(--font-tertiary-color);
    transition: ease-in-out 0.5s;
    &:hover{
       color: var(--font-secondary-color);
       transition: all 0.5s;
    }
 }

 #lyrics-container::-webkit-scrollbar {
    width: 12px;
 }
 #lyrics-container::-webkit-scrollbar-track {
    background: transparent;

 }  
 #lyrics-container::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 10px;
 }

 #lyrics-container::-webkit-scrollbar-thumb:hover {
    background: var(--item-list);
 }

 /* Estilos de la barra de progreso */
 #control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #progress-bar {
    width: 60vw;
    height: 10px;
    background-color: var(--buscador);
    border-radius: 5px;
    margin: 10px 0;
  }

  #progress {
    height: 100%;
    background-color: var(--button-color);
    border-radius: 5px;
    width: 0;
  }

#progress-bar-time{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 60vw;
   color: var(--font-secondary-color);
   margin: 10px 10px 0 0;
}

#controls {
    font-size: 1.5rem !important;
    color: var(--font-secondary-color);
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#controls button{
   background-color: transparent;
   border: none;
   font-size: 1.5rem;
   color: var(--font-secondary-color);
}
