@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --background-color: #967171;
    --section-color: #4F2F2F;
    --button-color: #D98888;
    --item-list:#905959;
    --font-color:#1f1414;
    /* --------fuente-------*/
    --fuente-text: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: var(--section-color);
    font-family: var(--fuente-text);
}

main {
    width: 950px;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 20px;
}   

p, h1, h2, ul {
    color: var(--font-color);
    padding-bottom: 10px;
}

ul {
    padding-left: 30px;
}

a {
    color: #2626a4;
}

